body{
    transition: 1s;
    background-color: black;
  
}
nav{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    margin-left: 300px;
}
nav>a{
    text-decoration: none;
    color: wheat;
    margin-left: 100px;
   margin-top: 50px;
}
nav>a:hover{
    color: orange;
}
nav>img{
    margin-left: 40px;
    margin-top: 30px;
    

}
nav>button{
    background-color: orange;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 30px;
    outline: 0;
    text-align: center;
    margin-left: 30px;
    padding: 15px 15px ;
    margin-top: 30px;
}
nav>button>a{
    text-decoration: none; 
    color: black;
}
.menu{
    float: right;
    padding: 20px 20px;
    margin-left: 50px;

}
.images{
    max-width: 500pc;
}
.mySlides{
    width: 100%;
}